body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.logo {
  width: 30px;
}

#mySidebar {
  width: auto;
}

.hidden {
  display: none;
}

.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: auto;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

#home {
	margin-top: 300px;
	margin-bottom: 300px;
}
@media screen and (max-width: 600px) {
	
	#home { 
    width: 100%;
    margin-top: 600px;
	margin-bottom: 600px;
	
	}
		
	.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 60px;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}
  }

@media (min-width: 768px) and (max-width: 1096px) {
	
	#home { 
    width: 100%;
    margin-top: 300px;
	margin-bottom: 600px;
	
	}
		
	.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 100px;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}
}

@media (min-width: 321px)and (max-width: 600px) {
		#home { 
    width: 100%;
    margin-top: 600px;
	margin-bottom: 600px;
	
	}
		
	.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 70px;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}
}

@media (min-width: 600px)and (max-width: 767px) {
		#home { 
    width: 100%;
    margin-top: 400px;
	margin-bottom: 600px;
	
	}
		
	.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 170px;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}
}

