body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Auskommentiert, da "position:sticky" bei der Navigationbar
   ansonsten nicht wirklich funktioniert */
/* body,
html {
  height: 100%;
  line-height: 1.8;
} */

.w3-bar .w3-button {
  padding: 16px;
}

.logo {
  width: 30px;
}

#navigation-bar{
  /* width: 100%; */
  position: -webkit-sticky; /*safari*/
  position: sticky;
  top: 0px;
  z-index: 2;
}

#mySidebar {
  width: auto;
  z-index:999;
}

.hidden {
  display: none;
}

.picture_column {
  width: 100%;
  line-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: auto;
  color: #a3a3a3;
}

.picture {
  max-width: 100%;
  height: auto;
}

.gray{
  color: #696969;
}
