body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: #666;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.logo{
  width: 30px;
}

#mySidebar{
  width: auto;
}

.hidden{
  display: none;
}

.picture_column {
	width: 100%;
	line-height: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-top: auto;
	color: #A3A3A3;
}

.picture{
	max-width: 100%;
	height: auto;
}